{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block offcanvas %}
    Changing Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div style="margin:10px;"><h3>Change Password</h3></div>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password"required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}